::-webkit-scrollbar {
  display: none;
}

body {
  background-color: rgb(130, 195, 242);
  max-width: 1000000px;
  width: 100%;
  height: 100vh;
}

.chat-app-parent {
  display: flex;
  width: 65%;
  height: 950px;
  padding: 8rem;
  margin-top: 4rem;
  margin: 0 auto;
}

.chat-person {
  background-color: rgb(68, 56, 100);
  width: 25%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow-y: scroll;
}

.person {
  cursor: pointer;
}

.our-account-detail {
  background-color: rgb(52, 43, 73);
  /* display: flex;
    justify-content: space-between;
    align-items: center; */
  height: 4rem;
}

.app-name {
  font-size: 24px;
  font-weight: 700;
  margin-left: 2px;
  background: linear-gradient(to bottom, white, #d412a4);
  background-clip: text;
  color: transparent;
}
.details-profile {
  display: flex;
  margin-right: -10px;
  margin-top: 5px;
}

.details-profile .name {
  margin: 0 10px;
  color: white;
}

.log-out {
  color: white;
  font-weight: 300;
  font-size: 9px;
  background-color: rgb(219, 116, 148);
  border-radius: 10px;
  padding: 0.102rem 1.3rem;
  margin-left: 20px;
}

.user-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.find-user {
  margin-top: 0.9rem;
  margin-bottom: 0.9rem;
}

.find-user input {
  color: gainsboro;
  border: none;
}

.person {
  display: flex;
  margin: 1.7rem 0;
  transition: background-color 0.4s ease-in;
}

.person:hover {
  background-color: rgb(58, 49, 81);
}

.person-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 1rem;
  margin-left: 0.5rem;
}

.person-nameLastmessage {
  margin-top: 3px;
}

.person-name {
  margin-bottom: -4px;
  color: white;
  font-size: 17px;
  font-weight: 600;
  opacity: 0.9;
}

.last-message {
  color: gainsboro;
  font-size: 14px;
  font-style: italic;
}

.active {
  background-color: rgb(100, 85, 143);
}

/* #2 */
.start-conversation {
  text-align: center;
  margin-top: 13rem;
  font-size: 30px;
  font-family:
    'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  /* color: rgb(197, 196, 196); */
  color: black;
}

.chat-conversation {
  background-color: rgb(199, 200, 218);
  width: 65%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
}

.start-chat-conversation {
  flex-basis: 65%;
  overflow-y: scroll;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
}

.idkkk {
  margin-top: 20px;
}

.person-control {
  background-color: rgb(119, 105, 157);
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.person-name-conversation {
  margin-left: 10px;
  color: rgb(207, 207, 205);
}

.chat-icon {
  color: white;
  margin: 0 10px;
}

.person-conversation {
  height: 82%;
  overflow-y: auto;
  margin-bottom: 10px;
}

.write-messages {
  width: 100%;
  position: absolute;
  top: 87.2%;
}

.send-messages {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 1.5rem 0;
  width: 100%;
}

.send-messages .input-container {
  flex-grow: 1;
  max-width: calc(
    100% - 150px
  ); /* Ajustează această valoare în funcție de lățimea iconurilor și butonului */
  overflow: hidden;
}

.send-messages input {
  width: 100%;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  position: relative;
}

.send-messages input::placeholder {
  margin-left: 0; /* Aliniere la marginea stângă */
}

.icons-chat-interactions {
  display: flex;
  align-items: center;
}

.icons-chat-interactions button {
  background-color: rgb(72, 167, 218);
  color: white;
  font-weight: 200;
  font-size: 16px;
  padding: 0 0.9rem;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.4s ease-in;
}

.icons-chat-interactions button:hover {
  background-color: rgb(44, 80, 104);
}

.icon {
  font-size: 20px;
  color: rgb(180, 180, 180);
}

.picture-icon {
  margin: 0 10px;
}

.message {
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
}

.test {
  display: flex;
  align-items: center;
}

.test.friend {
  justify-content: end;
  flex-direction: row-reverse;
}

.image-time {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-time p {
  font-size: 10px;
  margin: 8px 5px;
}

.img-conversation {
  border-radius: 50px;
  height: 40px;
  width: 40px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

/* Stiluri pentru mesaje text */
.message-self {
  background-color: #eee;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  max-width: 40%;
  word-wrap: break-word;
}

.message-friend {
  background-color: rgb(56, 171, 216);
  color: white;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  max-width: 30%;
  word-wrap: break-word;
}

/* Stiluri pentru imagini */
.image-sent {
  background-color: transparent;
  margin-bottom: 10px;
}

.sent-image {
  max-width: 400px;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.link {
  color: rgb(42, 42, 189);
}

input:focus {
  outline: none;
}

/* Media Query */

@media all and (max-width: 375px) {
  body {
    max-width: 3000px;
    width: 100%;
  }

  .chat-app-parent {
    width: 900px;
  }

  .chat-person {
    width: 33%;
  }
  .chat-conversation {
    width: 67%;
  }

  .app-name {
    font-size: 20px;
    font-weight: 700;
    /* margin-bottom: 12px; */
    margin-left: 2px;
    background: linear-gradient(to bottom, white, #d412a4);
    background-clip: text;
    color: transparent;
  }

  .our-account-detail {
    display: block;
    height: 4.5rem;
  }
  .person-control {
    height: 4.5rem;
  }

  .user-image {
    width: 37px;
    height: 37px;
    margin-right: 3px;
    margin-left: 5px;
  }

  .details-profile {
    display: flex;
    align-items: center;
  }

  .details-profile .name {
    font-size: 18px;
    font-weight: 600;
  }

  .log-out {
    width: 80px;
    font-size: 10px;
    margin-left: 9px;
  }

  .send-messages input::placeholder {
    margin-left: -27%;
  }

  .message {
    margin-bottom: 45px;
  }
  .input-message input {
    z-index: 1;
  }
  .icon {
    font-size: 15px;
    color: black;
  }

  .icons-chat-interactions {
    margin-left: -73%;
    z-index: 1;
  }
}

@media all and (min-width: 376px) and (max-width: 869px) {
  body {
    max-width: 2000px;
    width: 100%;
  }

  .chat-app-parent {
    width: 950px;
  }

  .chat-person {
    width: 33%;
  }
  .chat-conversation {
    width: 67%;
  }

  .app-name {
    font-size: 20px;
    font-weight: 700;
    margin-left: 2px;
    background: linear-gradient(to bottom, white, #d412a4);
    background-clip: text;
    color: transparent;
  }

  .our-account-detail {
    display: block;
    height: 4.5rem;
  }
  .person-control {
    height: 4.5rem;
  }

  .user-image {
    width: 37px;
    height: 37px;
    margin-right: 3px;
    margin-left: 5px;
  }

  .details-profile {
    display: flex;
    align-items: center;
  }

  .details-profile .name {
    font-size: 18px;
    font-weight: 600;
  }

  .log-out {
    padding: 0.05rem 1.1rem;
    margin-right: 50px;
  }

  .send-messages input::placeholder {
    margin-left: -27%;
  }

  .message {
    margin-bottom: 45px;
  }
  .input-message input {
    z-index: 1;
  }
  .icon {
    font-size: 15px;
    color: black;
  }

  .icons-chat-interactions {
    margin-left: -73%;
    z-index: 1;
  }
}

@media all and (min-width: 870px) and (max-width: 1220px) {
  body {
    /* max-width: 3000px; */
    width: 100%;
  }

  .chat-app-parent {
    width: 950px;
  }

  .chat-person {
    width: 30%;
  }
  .chat-conversation {
    width: 67%;
  }

  .app-name {
    font-size: 20px;
    font-weight: 700;
    /* margin-bottom: 12px; */
    margin-left: 2px;
    background: linear-gradient(to bottom, white, #d412a4);
    background-clip: text;
    color: transparent;
  }

  .our-account-detail {
    display: block;
    height: 4.5rem;
  }
  .person-control {
    height: 4.5rem;
  }

  .user-image {
    width: 37px;
    height: 37px;
    margin-right: 3px;
    margin-left: 5px;
  }

  .details-profile {
    display: flex;
    align-items: center;
  }

  .details-profile .name {
    font-size: 18px;
    font-weight: 600;
  }

  .log-out {
    width: 80px;
    font-size: 10px;
    margin-left: 9px;
  }

  .send-messages input::placeholder {
    margin-left: -27%;
  }

  .message {
    margin-bottom: 45px;
  }
  .input-message input {
    z-index: 1;
  }
  .icon {
    font-size: 15px;
  }

  .icons-chat-interactions {
    margin-left: -73%;
    z-index: 1;
  }
}

@media all and (min-width: 1221px) and (max-width: 1600px) {
  body {
    max-width: 3000px;
    width: 100%;
  }

  .chat-app-parent {
    width: 1050px;
  }

  .chat-person {
    width: 30%;
  }
  .chat-conversation {
    width: 67%;
  }

  .app-name {
    font-size: 20px;
    font-weight: 700;
    /* margin-bottom: 12px; */
    margin-left: 2px;
    background: linear-gradient(to bottom, white, #d412a4);
    background-clip: text;
    color: transparent;
  }

  .our-account-detail {
    display: block;
    height: 4.5rem;
  }
  .person-control {
    height: 4.5rem;
  }

  .user-image {
    width: 37px;
    height: 37px;
    margin-right: 3px;
    margin-left: 5px;
  }

  .details-profile {
    display: flex;
    align-items: center;
  }

  .details-profile .name {
    font-size: 18px;
    font-weight: 600;
  }

  .log-out {
    width: 80px;
    font-size: 10px;
    margin-left: 9px;
  }

  .send-messages input::placeholder {
    margin-left: -27%;
  }

  .message {
    margin-bottom: 45px;
  }
  .input-message input {
    z-index: 1;
  }
  .icon {
    font-size: 15px;
    color: black;
  }

  .icons-chat-interactions {
    margin-left: -73%;
    z-index: 1;
  }
}

@media all and (min-width: 1601px) and (max-width: 2000px) {
  body {
    width: 100%;
  }

  .chat-app-parent {
    width: 1250px;
  }

  .chat-person {
    width: 30%;
  }
  .chat-conversation {
    width: 67%;
  }

  .app-name {
    font-size: 24px;
    font-weight: 700;
    margin-left: 2px;
    background: linear-gradient(to bottom, white, #d412a4);
    background-clip: text;
    color: transparent;
  }
  .our-account-detail {
    display: block;
    height: 4.5rem;
  }

  .person-control {
    height: 4.5rem;
  }

  .details-profile {
    display: flex;
    align-items: center;
  }

  .details-profile .name {
    font-size: 18px;
    font-weight: 600;
  }

  .user-image {
    width: 32px;
    height: 32px;
    margin-right: 3px;
    margin-left: 5px;
  }

  .log-out {
    padding: 0.2rem 1.5rem;
    margin-left: 29px;
  }

  .message {
    margin-bottom: 45px;
  }
}
